@charset "utf-8";

/* Gives the types of elements their color */
.reactiveNonMetal{
    background-color: #2a4165;
}
.nobleGas{
    background-color: #623842;
}
.alkaliMetals{
    background-color: #244d57
}
.alkalineEarthMetals{
    background-color: #622e39;
}
.transitionMetals{
    background-color: #433c65;
}
.postTransitionMetals{
    background-color: #2f4d47;
}
.metalloids{
    background-color: #523e1b;
}
.lanthanides{
    background-color: #004a77;
}
.actinides{
    background-color: #613b26;
}
.unknownProperties{
    background-color: #46474c;
}

/* Arranges containers to make them look like a periotic table */
#perioticTable{
    display: grid;
    grid-template-areas: 
    "H none3 none none none none none none none none none none none none none2 none2 none2 none2 none2 He"
    "Li Be none none none none none none none none none none none none B C N O F Ne"
    "Na Mg none none none none none none none none none none none none Al Si P S Cl Ar"
    "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "Cs Ba La Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
    "Fr Ra Ac Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
    "none4 none4 Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
    "none4 none4 Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr";
}